*.cache
*.log
*.bak
tmp/
.cache/
.local/share/

aseprite/
Code/
Code - OSS/
dconf/
discord/
draw.io/
Electron/
eww/
figma-linux/
go/
gtk-3.0/
Happ/
htop/
libreoffice/
matplotlib/
menus/
mozilla/
nextjs-nodejs/
obsidian/
pulse/
qBittorrent/
spotify/
systemd/
yay/
Happ.conf
mimeapps.list
QtProject.conf

!README.md
!hypr/
!waybar/
!kitty/
!wofi/
